.makeWrap {
	width: 620px;
	margin: 20px auto;
}
.title {
	font-size: 20px;
}
.form {
	margin: 10px 0;
}
.form .input {
	width: 100%;
	height: 45px;
	border: 1px solid #ccc;
	padding: 0 15px;
	box-sizing: border-box;
	background: none;
}
.buttonBox {
	display: flex;
}
.buttonBox button {
	border: 0;
	background: none;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.buttonBox .addButton {
	flex: 1;
	height: 45px;
	background: none #485460;
}
.buttonBox .addButtonPrev {
	flex: 1;
	background: #808e9b;
}
