.booklist {
	width: 1024px;
	margin: 0 auto;
}
.user {
	color: #8c7ae6;
	font-weight: normal;
}
.user span {
	color: #9c88ff;
	font-weight: bold;
}
.buttonBox {
	display: flex;
	justify-content: space-between;
}
.bookBox {
	border: 1px solid #e8e8e8;
	padding: 20px;
}
.buttonBox button {
	border: 0;
	background: none;
	flex: 1;
	height: 50px;
	margin: 25px 0;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
}
.buttonBox .logoutBox {
	background: #353b48;
}
.buttonBox .addBook {
	background: #15b127;
}
.buttonBox .removeBook {
	background: #df9800;
}
.buttonBox .rentalBook {
	background: #1c4dc7;
}
.buttonBox .returnBook {
	background: #1cc739;
}
.bookListTbl {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.bookListTbl th,
.bookListTbl td {
	padding: 10px;
	font-size: 15px;
	border: 1px solid rgb(154, 165, 180);
	text-align: center;
}
.bookListTbl .check {
	background: #a0ff88;
}
.bookListTbl th {
	font-weight: normal;
	background: #efefef;
}
.stateBook {
	color: #ff0000;
}
.checkbox {
	width: 15px;
	height: 15px;
}
.checked {
	width: 20px;
}
.bookName {
	width: 30%;
}
.publisher {
	width: 20%;
}
.date {
	width: 20%;
}
.status {
}
.input {
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
}
