.booklist {
	width: 1024px;
	margin: 0 auto;
}
.user {
	color: #d03b5b;
	font-weight: normal;
}
.user span {
	color: #d03b5b;
	font-weight: bold;
}
.buttonBox {
	display: flex;
	justify-content: space-between;
}
.bookBox {
	border: 1px solid #e8e8e8;
	padding: 20px;
}
.buttonBox button {
	border: 0;
	background: none;
	flex: 1;
	border: 1px solid #fff;
	height: 50px;
	margin: 25px 0;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
}
.buttonBox .logoutBox {
	background: #485460;
}
.buttonBox .removeBook {
	background: #485460;
}
.buttonBox .addBook {
	background: #485460;
}
.buttonBox .returnBook {
	background: #485460;
}
.buttonBox .rentalBook {
	background: #485460;
}
.bookListTbl {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.bookListTbl th,
.bookListTbl td {
	padding: 10px;
	font-size: 15px;
	border: 1px solid #d2dae2;
	text-align: center;
}
.bookListTbl .check {
	background: #ffc048;
}
.bookListTbl th {
	font-weight: normal;
	/* background: #f8850a; */
	/* color:#fff; */
}
.stateBook {
	color: #2cb100;
}
.checkbox {
	width: 15px;
	height: 15px;
}
.checked {
	width: 20px;
}
.bookName {
	width: 30%;
}
.publisher {
	width: 20%;
}
.date {
	width: 20%;
}
.status {
}
.input {
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
}
