.joinWrap {
	position: relative;
	width: 620px;
	margin: 20px auto;
	padding: 20px 30px;
	border: 1px solid rgb(96, 115, 150);
	box-sizing: border-box;
}
.title {
	font-size: 28px;
	text-align: center;
	color:#d03b5b;
}
.join_input {
	margin-top: 10px;
}
.join_input input {
	width: 100%;
	height: 45px;
	border: 1px solid #e9e9e9;
	padding: 0 20px;
	box-sizing: border-box;
}
.submit {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	background: none #485460;
	color: #fff;
	border: 0;
	cursor: pointer;
}
.submit:hover {
	color: chartreuse;
}
.home {
	position: absolute;
	right: 30px;
	top: 30px;
	padding: 10px;
	border: 0;
	background: #808e9b;
	color: #fff;
	cursor: pointer;
}
.alertMessageError {
	color: #ff0000;
	margin: 10px 0;
}
.alertMessageSccess {
	color: #4cd137;
	margin: 10px 0;
}
